In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("bank-full.csv", sep = ";")

In [4]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [5]:
df.tail()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
age          45211 non-null int64
job          45211 non-null object
marital      45211 non-null object
education    45211 non-null object
default      45211 non-null object
balance      45211 non-null int64
housing      45211 non-null object
loan         45211 non-null object
contact      45211 non-null object
day          45211 non-null int64
month        45211 non-null object
duration     45211 non-null int64
campaign     45211 non-null int64
pdays        45211 non-null int64
previous     45211 non-null int64
poutcome     45211 non-null object
y            45211 non-null object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [7]:
df.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

In [8]:
df.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [9]:
df['poutcome'].value_counts()

unknown    36959
failure     4901
other       1840
success     1511
Name: poutcome, dtype: int64

In [10]:
df['job'].value_counts()

blue-collar      9732
management       9458
technician       7597
admin.           5171
services         4154
retired          2264
self-employed    1579
entrepreneur     1487
unemployed       1303
housemaid        1240
student           938
unknown           288
Name: job, dtype: int64

In [11]:
df['education'].value_counts()

secondary    23202
tertiary     13301
primary       6851
unknown       1857
Name: education, dtype: int64

In [12]:
df['marital'].value_counts()

married     27214
single      12790
divorced     5207
Name: marital, dtype: int64

In [13]:
df['job'].replace(['blue-collar', 'management', 'technician', 'admin.', 'services', 'retired', 'self-employed','entrepreneur', 'unemployed', 'housemaid', 'student', 'unknown'], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], inplace = True)
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,1,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,2,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,7,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,0,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,11,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [14]:
df['marital'].replace(['married', 'single', 'divorced'], [0, 1, 2], inplace = True)
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,1,0,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,2,1,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,7,0,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,0,0,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,11,1,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [15]:
df['education'].replace(['primary', 'secondary', 'tertiary', 'unknown'], [0, 1, 2, 3], inplace = True)
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,1,0,2,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,2,1,1,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,7,0,1,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,0,0,3,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,11,1,3,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [16]:
df['default'].value_counts()

no     44396
yes      815
Name: default, dtype: int64

In [17]:
df['default'].replace(['yes', 'no'], [1, 0], inplace = True)
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,1,0,2,0,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,2,1,1,0,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,7,0,1,0,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,0,0,3,0,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,11,1,3,0,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [18]:
df['housing'].value_counts()

yes    25130
no     20081
Name: housing, dtype: int64

In [19]:
df['housing'].replace(['yes', 'no'], [1, 0], inplace = True)
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,1,0,2,0,2143,1,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,2,1,1,0,29,1,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,7,0,1,0,2,1,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,0,0,3,0,1506,1,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,11,1,3,0,1,0,no,unknown,5,may,198,1,-1,0,unknown,no

In [20]:
df['loan'].replace(['yes', 'no'], [1, 0], inplace = True)
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,1,0,2,0,2143,1,0,unknown,5,may,261,1,-1,0,unknown,no
1,44,2,1,1,0,29,1,0,unknown,5,may,151,1,-1,0,unknown,no
2,33,7,0,1,0,2,1,1,unknown,5,may,76,1,-1,0,unknown,no
3,47,0,0,3,0,1506,1,0,unknown,5,may,92,1,-1,0,unknown,no
4,33,11,1,3,0,1,0,0,unknown,5,may,198,1,-1,0,unknown,no

In [21]:
df['month'].value_counts()

may    13766
jul     6895
aug     6247
jun     5341
nov     3970
apr     2932
feb     2649
jan     1403
oct      738
sep      579
mar      477
dec      214
Name: month, dtype: int64

In [22]:
df['month'].replace(['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec'], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], inplace = True)
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,1,0,2,0,2143,1,0,unknown,5,4,261,1,-1,0,unknown,no
1,44,2,1,1,0,29,1,0,unknown,5,4,151,1,-1,0,unknown,no
2,33,7,0,1,0,2,1,1,unknown,5,4,76,1,-1,0,unknown,no
3,47,0,0,3,0,1506,1,0,unknown,5,4,92,1,-1,0,unknown,no
4,33,11,1,3,0,1,0,0,unknown,5,4,198,1,-1,0,unknown,no

In [23]:
df['contact'].value_counts()

cellular     29285
unknown      13020
telephone     2906
Name: contact, dtype: int64

In [24]:
df['contact'].replace(['cellular', 'unknown', 'telephone'], [0, 1, 2], inplace = True)
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,1,0,2,0,2143,1,0,1,5,4,261,1,-1,0,unknown,no
1,44,2,1,1,0,29,1,0,1,5,4,151,1,-1,0,unknown,no
2,33,7,0,1,0,2,1,1,1,5,4,76,1,-1,0,unknown,no
3,47,0,0,3,0,1506,1,0,1,5,4,92,1,-1,0,unknown,no
4,33,11,1,3,0,1,0,0,1,5,4,198,1,-1,0,unknown,no

In [25]:
df['poutcome'].value_counts()

unknown    36959
failure     4901
other       1840
success     1511
Name: poutcome, dtype: int64

In [26]:
df['poutcome'].replace(['unknown', 'failure', 'success', 'other'], [0, 1, 2, 3], inplace = True)
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,1,0,2,0,2143,1,0,1,5,4,261,1,-1,0,0,no
1,44,2,1,1,0,29,1,0,1,5,4,151,1,-1,0,0,no
2,33,7,0,1,0,2,1,1,1,5,4,76,1,-1,0,0,no
3,47,0,0,3,0,1506,1,0,1,5,4,92,1,-1,0,0,no
4,33,11,1,3,0,1,0,0,1,5,4,198,1,-1,0,0,no

In [27]:
df['y'].replace(['yes', 'no'], [0, 1], inplace = True)
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,1,0,2,0,2143,1,0,1,5,4,261,1,-1,0,0,1
1,44,2,1,1,0,29,1,0,1,5,4,151,1,-1,0,0,1
2,33,7,0,1,0,2,1,1,1,5,4,76,1,-1,0,0,1
3,47,0,0,3,0,1506,1,0,1,5,4,92,1,-1,0,0,1
4,33,11,1,3,0,1,0,0,1,5,4,198,1,-1,0,0,1

In [28]:
X = df.iloc[:,0:16].values
X

array([[ 58,   1,   0, ...,  -1,   0,   0],
       [ 44,   2,   1, ...,  -1,   0,   0],
       [ 33,   7,   0, ...,  -1,   0,   0],
       ...,
       [ 72,   5,   0, ..., 184,   3,   2],
       [ 57,   0,   0, ...,  -1,   0,   0],
       [ 37,   7,   0, ..., 188,  11,   3]], dtype=int64)

In [29]:
y = df.y.values
y

array([1, 1, 1, ..., 0, 1, 1], dtype=int64)

In [30]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [31]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(36168, 16)
(36168,)
(9043, 16)
(9043,)

In [32]:
from sklearn import preprocessing
minmax=preprocessing.MinMaxScaler(feature_range=(0,1))
minmax.fit(X).transform(X)

C:\Users\patha\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

array([[0.51948052, 0.09090909, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.33766234, 0.18181818, 0.5       , ..., 0.        , 0.        ,
        0.        ],
       [0.19480519, 0.63636364, 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.7012987 , 0.45454545, 0.        , ..., 0.21215596, 0.01090909,
        0.66666667],
       [0.50649351, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.24675325, 0.63636364, 0.        , ..., 0.21674312, 0.04      ,
        1.        ]])

# KNN

In [33]:
from sklearn import neighbors
clf = neighbors.KNeighborsClassifier()
clf.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [34]:
y_pred=clf.predict(X_test)

In [35]:
print(y_test)

[1 1 1 ... 1 1 1]

In [36]:
print(y_pred)

[1 1 1 ... 1 1 1]

In [37]:
from sklearn.metrics import accuracy_score, recall_score, roc_auc_score, confusion_matrix

print("\nAccuracy score: %f" %(accuracy_score(y_test,y_pred) * 100))
print("Recall score : %f" %(recall_score(y_test, y_pred) * 100))
print("ROC score : %f\n" %(roc_auc_score(y_test, y_pred) * 100))
print(confusion_matrix(y_test, y_pred))

Accuracy score: 88.355634
Recall score : 96.085543
ROC score : 62.703707

[[ 307  740]
 [ 313 7683]]

In [38]:
x_train_std = minmax.fit_transform(X_train)
x_test_std = minmax.transform(X_test)

C:\Users\patha\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

In [39]:
from sklearn.model_selection import cross_val_score,cross_val_predict

In [40]:
clf_acc = cross_val_score(clf, x_train_std, y_train, cv=3, scoring="accuracy",  n_jobs=-1)

In [41]:
clf_proba = cross_val_predict(clf, x_train_std, y_train, cv=3, method='predict_proba')
clf_scores = clf_proba[:, 1]

In [42]:
clf_acc

array([0.88951559, 0.88860319, 0.8882714 ])

# Logistic regression

In [43]:
# better than KNN
#Build a Logistic Regression Model
# Binary modely models are also called AS --- dipotymus classification
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train,y_train)
lr_acc = cross_val_score(lr, x_train_std, y_train, cv=3, scoring='accuracy', n_jobs=-1)
lr_proba = cross_val_predict(lr, x_train_std, y_train, cv=3, method='predict_proba')
lr_scores = lr_proba[:, 1]

C:\Users\patha\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\patha\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\patha\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\patha\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [44]:
lr_acc

array([0.88993033, 0.89100863, 0.89026211])

In [45]:
y_pred=lr.predict(X_test)

In [46]:
print(y_test)

[1 1 1 ... 1 1 1]

In [47]:
print(y_pred)

[1 1 1 ... 1 1 1]

In [48]:
#Accuracy score on Test and Train
from sklearn.metrics import accuracy_score, recall_score, roc_auc_score, confusion_matrix

print("\nAccuracy score: %f" %(accuracy_score(y_test,y_pred) * 100))
print("Recall score : %f" %(recall_score(y_test, y_pred) * 100))
print("ROC score : %f\n" %(roc_auc_score(y_test, y_pred) * 100))
print(confusion_matrix(y_test, y_pred))

Accuracy score: 89.140772
Recall score : 97.948974
ROC score : 59.910495

[[ 229  818]
 [ 164 7832]]

# Decision Tree

In [49]:
from sklearn.tree import DecisionTreeClassifier
dtc_clf = DecisionTreeClassifier()
dtc_clf.fit(X_train,y_train)

#Print cross validation score for Decision Tree Calssifier
dtc_clf_acc = cross_val_score(dtc_clf, x_train_std, y_train, cv=3, scoring="accuracy",  n_jobs=-1)
dtc_proba = cross_val_predict(dtc_clf, x_train_std, y_train, cv=3, method='predict_proba')
dtc_clf_scores = dtc_proba[:, 1]

In [50]:
y_pred=dtc_clf.predict(X_test)

In [51]:
print(y_test)

[1 1 1 ... 1 1 1]

In [52]:
print(y_pred)

[1 1 1 ... 1 1 1]

In [53]:
from sklearn.metrics import accuracy_score, recall_score, roc_auc_score, confusion_matrix
print("\nAccuracy score: %f" %(accuracy_score(y_test,y_pred) * 100))
print("Recall score : %f" %(recall_score(y_test, y_pred) * 100))
print("ROC score : %f\n" %(roc_auc_score(y_test, y_pred) * 100))
print(confusion_matrix(y_test, y_pred))

Accuracy score: 87.415681
Recall score : 92.608804
ROC score : 70.182148

[[ 500  547]
 [ 591 7405]]

In [54]:
dtc_clf_acc

array([0.86960849, 0.86977439, 0.87450232])

# Random Forest

In [55]:
from sklearn.ensemble import RandomForestClassifier
rmf = RandomForestClassifier(max_depth=3, random_state=0)
rmf_clf = rmf.fit(X_train, y_train)

C:\Users\patha\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [56]:
rmf_clf_acc = cross_val_score(rmf_clf, x_train_std, y_train, cv=3, scoring="accuracy",  n_jobs=-1)
rmf_proba = cross_val_predict(rmf_clf, x_train_std, y_train, cv=3, method='predict_proba')
rmf_clf_scores = rmf_proba[:, 1]

In [57]:
y_pred=lr.predict(X_test)

In [58]:
print(y_test)

[1 1 1 ... 1 1 1]

In [59]:
print(y_pred)

[1 1 1 ... 1 1 1]

In [60]:
from sklearn.metrics import accuracy_score, recall_score, roc_auc_score, confusion_matrix
print("\nAccuracy score: %f" %(accuracy_score(y_test,y_pred) * 100))
print("Recall score : %f" %(recall_score(y_test, y_pred) * 100))
print("ROC score : %f\n" %(roc_auc_score(y_test, y_pred) * 100))
print(confusion_matrix(y_test, y_pred))

Accuracy score: 89.140772
Recall score : 97.948974
ROC score : 59.910495

[[ 229  818]
 [ 164 7832]]

# Naive Bayes

In [61]:
from sklearn.naive_bayes import GaussianNB
nb_classifier =GaussianNB()
nb_classifier.fit(X_train, y_train)
nb_acc = cross_val_score(nb_classifier, x_train_std, y_train, cv=3, scoring='accuracy', n_jobs=-1)
nb_proba = cross_val_predict(nb_classifier, x_train_std, y_train, cv=3, method='predict_proba')
nb_scores = nb_proba[:, 1]

In [62]:
y_pred=nb_classifier.predict(X_test)

In [63]:
print(y_test)

[1 1 1 ... 1 1 1]

In [64]:
print(y_pred)

[1 0 1 ... 1 1 1]

In [65]:
from sklearn.metrics import accuracy_score, recall_score, roc_auc_score, confusion_matrix

print("\nAccuracy score: %f" %(accuracy_score(y_test,y_pred) * 100))
print("Recall score : %f" %(recall_score(y_test, y_pred) * 100))
print("ROC score : %f\n" %(roc_auc_score(y_test, y_pred) * 100))
print(confusion_matrix(y_test, y_pred))

Accuracy score: 85.137676
Recall score : 89.644822
ROC score : 70.180577

[[ 531  516]
 [ 828 7168]]

In [66]:
nb_acc

array([0.85044791, 0.85210683, 0.8407432 ])

# SVC

In [67]:
from sklearn.svm import SVC
svc = SVC(kernel='rbf',probability = True)
svc_classifier = svc.fit(X_train,y_train)

C:\Users\patha\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [ ]:
svc_acc = cross_val_score(svc_classifier, x_train_std, y_train, cv=3, scoring="accuracy",  n_jobs=-1)
svc_proba = cross_val_predict(svc_classifier, x_train_std, y_train, cv=3, method='predict_proba')
svc_scores = svc_proba[:, 1]

In [ ]:
y_pred=svc_classifier.predict(x_test)

In [ ]:
print(y_test)

In [ ]:
print(y_pred)

In [ ]:
#Accuracy score on Test and Train
from sklearn.metrics import accuracy_score, recall_score, roc_auc_score, confusion_matrix

print("\nAccuracy score: %f" %(accuracy_score(y_test,y_pred) * 100))
print("Recall score : %f" %(recall_score(y_test, y_pred) * 100))
print("ROC score : %f\n" %(roc_auc_score(y_test, y_pred) * 100))
print(confusion_matrix(y_test, y_pred))